@{
    ViewData["Title"] = "Agregar Detalles";
}
<h1>@ViewData["Title"]</h1>

<partial name="_CertificateTop"/>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form>
            <div class="form-group">
                <h3 class="sub-step-headline" style="margin-top: 20px;">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">1. Cree su cuenta</font>
                    </font>
                </h3>
                <div class="container" style="text-align: center;">
                    <font style="vertical-align: inherit;">
                        <a type="submit" href="http://localhost:5000/login?returnUrl=%2FCertificate%2FAddDetailsCertificate" class="btn btn-link"  target="_blank">
                            Cree su cuenta o inicie sesion
                        </a>
                    </font>
                </div>
                <hr class="solid">

            </div>
            <div class="form-group">
                <h3 class="sub-step-headline" style="margin-top: 20px;">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">2. Elija la organización a la que pertenece el certificado</font>
                    </font>
                </h3>
                <div>
                    <p class="card-text">
                        La información precisa da como resultado una emisión más rápida. 
                        Asegúrese de que los detalles de su organización, incluida la ortografía y la puntuación, sean correctos.
                    </p>
                </div>
                <partial name="_ModalOrganization"></partial>
                <hr class="solid">

            </div>
            <div class="form-group">
                <h3 class="sub-step-headline" style="margin-top: 20px;">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">3. Elija el contacto principal para este pedido</font>
                    </font>
                </h3>
                <partial name="_ModalContact"></partial>
                <hr class="solid">
            </div>
            <div class="form-group form-check" style="margin-top: 30px;">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">He leido y aceptado el <a href="#" >Acuerdo de servicios</a> y
                 <a href="#">la Politica de Privacidad de GSE</a></label>
            </div>
            <a type="button" class="btn btn-secondary" asp-area="" asp-controller="Certificate" asp-action="ConfigureCertificate">Atras</a>
            <a type="button" class="btn btn-primary" asp-area="" asp-controller="Certificate" asp-action="CertificateVerification">Continuar</a>
        </form>
    </body>
</html>



