<div class="row border-bottom py-5 px-0" id="steps">
    <div class="col-4 h5">
        <h4 class="mb-0">
            <a class="steplink" asp-area="" asp-controller="Desarrollo" asp-action="Desarrollo">
                <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit;">Paso 1</font>
                </font>
            </a>
        </h4>
        <div class="step-subtext py-2 selected-step">
            <font style="vertical-align: inherit">
                <font style="vertical-align: inherit; font-size: 15px;">Configura tu certificado</font>
            </font>
        </div>
    </div>
    <div class="col-5 h5">
        <h4 class="mb-0">
            <a class="steplink" asp-area="" asp-controller="Desarrollo" asp-action="AddDetailsCertificate">
                <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">Paso 2</font>
                </font>
            </a>
        </h4>
        <div class="step-subtext py-2 selected-step">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit; font-size: 15px;">Agrega detalles de la cuenta y la organización</font>
            </font>
        </div>
    </div>

    <div class="col-3 h5">
        <h4 class="mb-0">
            <a class="steplink" asp-area="" asp-controller="Desarrollo" asp-action="CertificateVerification">
                <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">Paso 3</font>
                </font>
            </a>
        </h4>
        <div class="step-subtext py-2 selected-step">
            <font style="vertical-align: inherit">
                <font style="vertical-align: inherit; font-size: 15px;">Verificacion</font>
            </font>
        </div>
    </div>

</div>