@{
    Layout="_ColumnsTwo";
    ViewData["Title"] = "Desarrollo Linux";
}
<h1>@ViewData["Title"]</h1>
<p>Yeisson Miguel Lopez Baron</p>
<button type="button" class="btn btn-primary">Secondary</button>